<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @groupmap.time %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @groupmap.limit %>
</p>

<%= link_to 'Edit', edit_groupmap_path(@groupmap) %> |
<%= link_to 'Back', groupmaps_path %>
