
<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<form>
  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Foto', :class=> "col-sm-1 col-form-label" %>
      <%= f.file_field :avatar, :class=> "col-sm-10" %>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Nome', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :name, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Sexo', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :sex, label: false, :class=> "form-control", :collection=> Dog::GENDER %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Data de Nascimento', class: "col-sm-2 col-form-label" %>
      <div class="col-sm-8">
        <%= f.input :dob, label: false, :class=> "form-control", :include_blank=> true %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Raça', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :breed, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Cor', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :color, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Peso', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :weight, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Chip no.', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :chip, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Vacinas', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :vaccines, label: false, :class=> "form-control", :include_blank=> true %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Canileish', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :canil, label: false, :class=> "form-control", :include_blank=> true %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Alergias', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :allergies, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="p-3">
    <div class="form-group row">
      <%= f.label 'Observações', class: "col-sm-1 col-form-label" %>
      <div class="col-sm-10">
        <%= f.input :obs, label: false, :class=> "form-control" %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="form-actions m-2 col text-center">
        <%= f.button :submit, value: 'Submeter', :class=> "btn btn-primary btn-lg font-weight-bold", :style=> "color:white;" %>
      </div>
    </div>
  </div>
</form>
<% end %>
