<h1>New Dog</h1>

<%= simple_form_for @dog do |f| %>
  <%= f.input :name %>
  <%= f.input :sex, collection: Dog::GENDER %>
  <%= f.input :dob, include_blank: true %>
  <%= f.input :breed %>
  <%= f.input :color %>
  <%= f.input :weight %>
  <%= f.input :chip %>
  <%= f.input :vaccines, include_blank: true %>
  <%= f.input :canil, include_blank: true %>
  <%= f.input :allergies %>
  <%= f.input :obs %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', dogs_path %>
