<h1>New Dog</h1>

<%= simple_form_for @dog do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :sex, label: 'Sexo' , collection: Dog::GENDER %>
  <%= f.input :dob, label: 'Data de Nascimento' , include_blank: true %>
  <%= f.input :breed, label: 'Raça' %>
  <%= f.input :color, label: 'Cor'  %>
  <%= f.input :weight, label: 'Peso'  %>
  <%= f.input :chip, label: 'Chip no.'  %>
  <%= f.input :vaccines, include_blank: true %>
  <%= f.input :canil, label: 'Canileish' , include_blank: true %>
  <%= f.input :allergies, label: 'Alergias' %>
  <%= f.input :obs, label: 'Observações' %>
  <%= f.button :submit, value: 'Submeter' %>
<% end %>

<%= link_to 'Back', dogs_path %>
