<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @dog.sex %>
</p>

<p>
  <strong>Data de Nascimento:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @dog.color %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>No. Chip:</strong>
  <%= @dog.chip %>
</p>

<p>
  <strong>Vaccines:</strong>
  <%= @dog.vaccines %>
</p>

<p>
  <strong>Canileish:</strong>
  <%= @dog.canil %>
</p>

<p>
  <strong>Alergias:</strong>
  <%= @dog.allergies %>
</p>

<p>
  <strong>Observações:</strong>
  <%= @dog.obs %>
</p>

<%= link_to 'Editar', edit_dog_path(@dog) %> |
<%= link_to 'Retornar', dogs_path %>
