<div class="jumbotron">
  <h1 class="display-4 text-center" style: "text-align: center">Mostrando <%= @dog.name %></h1>
  <%= simple_form_for @dog, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @dog.picture.attached? %>
    <img class="img-responsive img-thumbnail float-right rounded" src="<%=(url_for(@dog.picture)) %>" alt="Card image cap">
  <% else %>

  <div class="card float-right" style="width: 307px;height:307px;">
    <img class="card-img-top" src="/dog-avatar.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text text-center">Este cão ainda não possui fotografia.</p>
    </div>
  </div>

  <% end %>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <%= f.input :name,label:'Nome', class: "form-control", :readonly => true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-1">
          <%= f.input :sex, label:'Sexo', class: "form-control" , :readonly => true %>
        </div>
        <div class="form-group col-md-4">
          <label>Data de nascimento</label><br>
          <input class="form-control" value='<%= @dog.dob %>' disabled="true"></input>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
         <div class="form-group col-md-4">
            <%= f.input :breed,label:'Raça', class: "form-control", :readonly => true %>
         </div>
         <div class="form-group col-md-2">
            <%= f.input :color,label:'Cor', class: "form-control", :readonly => true %>
         </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
         <div class="form-group col-md-2">
            <%= f.input :weight,label:'Peso', class: "form-control", :readonly => true %>
         </div>
         <div class="form-group col-md-2">
            <%= f.input :chip,label:'Chip no.', class: "form-control", :readonly => true %>
         </div>
         <div class="form-group col-md-4">
             <%= f.input :allergies,label:'Alergias', class: "form-control", :readonly => true %>
          </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-2">
          <label>Vacinas em dia até</label><br>
          <input class="form-control" value='<%= @dog.vaccines %>' disabled="true"></input>
        </div>
        <div class="form-group col-md-2">
          <label>Tosse do Canil em dia até</label><br>
          <input class="form-control" value='<%= @dog.canil %>' disabled="true"></input>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-8">
          <%= f.input :obs, label:'Observações', class: "form-control", :readonly => true %>
        </div>
      </div>

    <br>
    <div style="margin: 15px">
    <%= link_to "Add Product", new_product_path(:param1 => "value1", :param2 => "value2") %>

        <%= link_to 'Editar', edit_dog_path(@dog), class: "btn btn-warning font-weight-bold ", style: "margin-left:5px;color:black;" %>
        <%= link_to 'Retornar', dogs_path, class: "btn btn-secondary font-weight-bold ", style: "margin-left:5px;color:white;" %>
        <%= link_to 'Adicionar treino de grupo', new_grouptrain_path(dog_id: @dog.id) class: "btn btn-primary font-weight-bold ", style: "margin-left:5px;color:white;" %>
    </div>

 <% end %>
