<div class="jumbotron">

 <% if @booking.dog.picture.attached? %>
    <img class="img-responsive img-thumbnail float-right rounded" src="<%=(url_for(@booking.dog.picture)) %>" alt="Card image cap">

    <% else %>

    <div class="card float-right" style="width: 260px;height:260;">
      <img class="card-img-top" src="/dog-avatar.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center">Este cão ainda não possui fotografia.</p>
      </div>
    </div>
 <% end %>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-4">
     <label>Nome do cão</label><br>
     <input class="form-control" value=<%= @booking.dog.name %> disabled="true"></input>
   </div>
 </div>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-1">
     <label>Sexo</label><br>
     <input class="form-control" value='<%= @booking.dog.sex %>' disabled="true"></input>
   </div>
   <div class="form-group col-md-4">
     <label>Data de nascimento</label><br>
     <input class="form-control" value='<%= @booking.dog.dob %>' disabled="true"></input>
   </div>
 </div>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-4">
     <label>Nome do dono</label><br>
     <input class="form-control" value='<%= @booking.dog.ownername %>' disabled="true"></input>
   </div>
 </div>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-4">
     <label>Contacto</label><br>
     <input class="form-control" value='<%= @booking.dog.contact %>' disabled="true"></input>
   </div>
 </div>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-2">
     <label>Num noites</label><br>
     <input class="form-control" value='<%= (@booking.end_date - @booking.start_date).to_i %>' disabled="true"></input>
   </div>
   <div class="form-group col-md-2">
     <label>Preço Calculado</label><br>
     <input class="form-control" value='<%= number_with_precision((@booking.end_date - @booking.start_date).to_i * @booking.price,significant: true) %> €' disabled="true"></input>
   </div>
   <div class="form-group col-md-2">
     <label>Preço Final</label><br>
     <input class="form-control" value='<% if @booking.changed_price.present? %>
                                                            <%= @booking.changed_price %>€
                                                            <% else %> 0€
                                                            <% end %>' disabled="true"></input>
   </div>
 </div>

 <div class="form-row" style="padding-left: 15px">
   <div class="form-group col-md-8">
     <label>Observações</label><br>
     <input class="form-control" value='<%= @booking.dog.obs %>' disabled="true"></input>
   </div>
 </div>

 <hr class="my-4 h-25">

 <%= simple_form_for @booking, :html => {:class => "form-horizontal center"} do |f| %>

      <div class="form-row" style="padding-left:15px">
        <div class="form-group col-md-2">
         <label>Data de início</label><br>
          <%= f.text_field :start_date,type: 'date', class: "form-control" , include_blank: true, :readonly => true  %>
        </div>
        <div class="form-group col-md-2">
          <label>Data de fim</label><br>
          <%= f.text_field :end_date,type: 'date', class: "form-control", include_blank: true, :readonly => true  %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-2">
          <%= f.input :price,label:'Preço por dia', class: "form-control", :readonly => true %>
          <%= f.input :paid,label:'Pago', class: "form-control", :disabled => true %>
        </div>
      </div>

      <div class="form-row" style="padding-left:15px">
        <div class="form-group col-md-4">
          <%= f.input :obs,label:'Observações', class: "form-control", :readonly => true %>
        </div>
      </div>

   <div style="margin: 15px">
     <%= link_to 'Editar', edit_booking_path(@booking), class: "btn btn-warning font-weight-bold ", style: "margin-left:5px;color:black;" %>
     <%= link_to 'Retornar', bookings_path, class: "btn btn-secondary font-weight-bold ", style: "margin-left:5px;color:white;" %>
   </div>

 <% end %>