<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label :dog_name_cont, 'Nome do cão' %>
  <%= f.search_field :dog_name_cont %>
  <%= f.label :dog_name_cont, 'Nome do dono' %>
  <%= f.search_field :dog_owner_name_cont %>
  <%= f.label :inscr_date_eq, 'Data de início' %>
  <%= f.date_field :inscr_date_eq, placeholder: 'Data de início' %>
  <%= f.label :status_cont, 'Estado' %>
  <%= f.select :status_cont, [['Em lista de espera', 'Em lista de espera'], ['A realizar aulas teóricas', 'A realizar aulas teóricas'],
                                          ['A decorrer', 'A decorrer'],
                                          ['Terminado', 'Terminado']],{include_blank: ''}
                                         %>
  <%= f.submit 'Filtrar' %>
<% end %>
<br>
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
      <th><%= sort_link(@q, :dog_name, 'Nome do cão') %></th>
      <th><%= sort_link(@q, :dog_owner_name, 'Nome do dono') %></th>
      <th>Tipe de treino</th>
      <th><%= sort_link(@q, :inscr_date, 'Data de início') %></th>
      <th>Estado</th>
      <th>Observaçóes</th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
            <% if train.type == "Treino de grupo" %>
              <td><%= link_to grouptrain_path(train.id), style:"color:white;" do %><i class="far fa-eye"></i><% end %></td>
            <% else %>
              <td><%= link_to pttrain_path(train.id), style:"color:white;" do %><i class="far fa-eye"></i><% end %></td>
            <% end %>

            <% if train.type == "Treino de grupo" %>
              <td><%= link_to edit_grouptrain_path(train.id), style:"color:white;" do %><i class="fas fa-pencil-alt"></i><% end %></td>
            <% else %>
              <td><%= link_to edit_pttrain_path(train.id), style:"color:white;" do %><i class="fas fa-pencil-alt"></i><% end %></td>
            <% end %>

            <% if train.type == "Treino de grupo" %>
                <td><%= link_to grouptrain_path(train.id), style:"color:white;", method: :delete, data: { confirm: 'Apagar este treino?' } do %><i class="fas fa-trash-alt"></i><% end %></td>
            <% else %>
                <td><%= link_to pttrain_path(train.id), style:"color:white;", method: :delete, data: { confirm: 'Apagar este treino?' } do %><i class="fas fa-trash-alt"></i><% end %></td>
            <% end %>

        <td><%= link_to dog_path(train.dog) do %> <%= train.dog.name %><% end %></td>
        <td><%= link_to owner_path(train.dog.owner) do %> <%= train.dog.owner.name %><% end %></td>
        <td><%= train.type %></td>
        <td><%= train.inscr_date %></td>
        <td><%= train.status %></td>
        <td class="ellipsis"><%= train.obs %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="digg_pagination">
    <%= will_paginate @trains, :container => false %>
</div>
