<p id="notice"><%= notice %></p>

<p>
  <strong>Teoric1:</strong>
  <%= @grouptrain.teoric1 %>
</p>

<p>
  <strong>Teoric2:</strong>
  <%= @grouptrain.teoric2 %>
</p>

<p>
  <strong>Inscr paid:</strong>
  <%= @grouptrain.inscr_paid %>
</p>

<p>
  <strong>Teoric paid:</strong>
  <%= @grouptrain.teoric_paid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @grouptrain.status %>
</p>

<%= link_to 'Edit', edit_grouptrain_path(@grouptrain) %> |
<%= link_to 'Back', grouptrains_path %>
