<div class="jumbotron">

 <h1 class="display-6 text-center" style: "text-align: center">Adicionar treino PT a <%= @dog.name %> </h1>

 <%= simple_form_for @pttrain, :html => {:class => "form-horizontal center"} do |f| %>
   <%= f.error_notification %>
   <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

       <div class="form-row" style="padding-left: 15px">
         <div class="form-group col-md-2">
           <label style="float:left">Dia</label><br>
           <%= f.collection_select(:ptmap_id,Ptmap.order('id ASC'), :id, :formatted_name, { prompt: 'Seleccione um dia'}, { class: "form-control", :required => true}) %>
         </div>
       </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Primeira passagem de testemunho</label><br>
          <%= f.text_field :test1, type: 'date', class: "form-control" , include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Segunda passagem de testemunho</label><br>
          <%= f.text_field :test2,type: 'date', class: "form-control", include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Terceira passagem de testemunho</label><br>
          <%= f.text_field :test3, type: 'date', class: "form-control" , include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Quarta passagem de testemunho</label><br>
          <%= f.text_field :test4,type: 'date', class: "form-control", include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Quinta passagem de testemunho</label><br>
          <%= f.text_field :test5,type: 'date', class: "form-control", include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-4">
          <label>Data de início</label><br>
          <%= f.text_field :inscr_date, type: 'date', class: "form-control", include_blank: true %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
       <%= f.input :inscr_paid,label:'Inscrição paga', class: "form-control" %>
      </div>
    <br>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-2">
          <label style="float:left">Estado</label><br>
            <%=f.input :status, as: :select, collection: Pttrain::STATUS, label: false %>
        </div>
      </div>

      <div class="form-row" style="padding-left: 15px">
        <div class="form-group col-md-8">
          <%= f.input :obs, label:'Observações', class: "form-control" %>
        </div>
      </div>
          <%= f.input :dog_id, label: false , :input_html => { :value => @dog.id, :hidden => true , :label => false }%>

    <div style="margin: 15px">
        <%= f.button :submit, value: 'Submeter', :class=> "btn btn-primary font-weight-bold", :style=> "margin-left:5px;color:white;" %>
        <%= link_to 'Retornar', url_for(:back), class: "btn btn-secondary font-weight-bold ", style: "margin-left:5px;color:white;" %>
    </div>
   </div>

 <% end %>