<p id="notice"><%= notice %></p>

<p>
  <strong>Test1:</strong>
  <%= @pttrain.test1 %>
</p>

<p>
  <strong>Test2:</strong>
  <%= @pttrain.test2 %>
</p>

<p>
  <strong>Test3:</strong>
  <%= @pttrain.test3 %>
</p>

<p>
  <strong>Test4:</strong>
  <%= @pttrain.test4 %>
</p>

<p>
  <strong>Inscr paid:</strong>
  <%= @pttrain.inscr_paid %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pttrain.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @pttrain.obs %>
</p>

<%= link_to 'Edit', edit_pttrain_path(@pttrain) %> |
<%= link_to 'Back', pttrains_path %>
