<!DOCTYPE html>
<html>
  <head>
    <title>Toca Dos Patudos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><span class="mb-0 h3" style="font-family: cursive">A Toca dos Patudos <i class="fas fa-paw"></i></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/" style="font-family: monospace;font-size: 20px">| <i class="fas fa-home"></i> Home |</a>
      <a class="nav-item nav-link active" href="/dogs" style="font-family: monospace;font-size: 20px"><i class="fas fa-dog"></i> Cães |</a>
      <a class="nav-item nav-link active" href="/bookings" style="font-family: monospace;font-size: 20px"><i class="far fa-calendar-alt"></i> Estadias</a>
    </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <img src="/logo.png" alt="">
                </li>

            </ul>
  </div>
</nav>
    </header>
    <%= yield %>
  </body>
</html>
