<!DOCTYPE html>
<html>
  <head>
    <title>DogTrainingPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><span class="mb-0 h3" style="font-family: candara">DogTrainingPro <i class="fas fa-paw"></i></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/" style="font-family: monospace;font-size: 20px">| <i class="fas fa-home"></i> Home |</a>
            <a class="nav-item nav-link active" href="/owners" style="font-family: monospace;font-size: 20px"><i class="fas fa-user-alt"></i> Donos |</a>
            <a class="nav-item nav-link active" href="/dogs" style="font-family: monospace;font-size: 20px"><i class="fas fa-dog"></i> Cães |</a>
            <a class="nav-item nav-link active" href="/grouptrains" style="font-family: monospace;font-size: 20px"><i class="far fa-calendar-alt"></i> Treinos |</a>
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-family: monospace;font-size: 20px; color: white"><i class="far fa-calendar-alt"></i> Presenças </a>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #343a40">
                   <a class="dropdown-item dropdown-item-dark" href="/groupclass" style="font-family: monospace;font-size: 20px;color: white">Marcar presenças de Grupo</a>
                   <a class="dropdown-item dropdown-item-dark" href="/ptclass" style="font-family: monospace;font-size: 20px;color: white">Marcar presenças PT</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item dropdown-item-dark" href="/groupclasses" style="font-family: monospace;font-size: 20px;color: white">Ver presenças</a>
                 </ul>
             </li>
            <a class="nav-item nav-link active" href="#" style="font-family: monospace;font-size: 20px">|</a>
            <a class="nav-item nav-link active" href="/payments" style="font-family: monospace;font-size: 20px"><i class="far fa-calendar-alt"></i> Pagamentos</a>
            <a class="nav-item nav-link active" href="#" style="font-family: monospace;font-size: 20px">|</a>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-family: monospace;font-size: 20px; color: white"><i class="far fa-calendar-alt"></i> Ajustar limites</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #343a40">
                  <a class="dropdown-item dropdown-item-dark" href="/groupmaps" style="font-family: monospace;font-size: 20px;color: white">Aulas de Grupo</a>
                  <a class="dropdown-item dropdown-item-dark" href="/ptmaps" style="font-family: monospace;font-size: 20px;color: white">Aulas PT</a>
                </ul>
            </li>
          </div>
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                 <img src="/logo.jpg" alt="">
             </li>
          </ul>
        </div>
</nav>
    </header>
    <%= yield %>
  </body>
</html>